body {
    padding: 0px;
    margin: 0px;
    background-color: #F7F8F9;
    overflow-x: hidden;
}

.div-1 {
    position: absolute;
    width: 180px;
    height: 180px;
    top: 36%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.image-1 {
    position: relative;
    width: 160px;
    height: 160px;
    padding: 20px;
}

.div-2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.h-1-1 {
    position: relative;
    font-size: 32px;
    top: 55px;
}

.h-1-2 {
    position: relative;
    font-size: 32px;
    text-align: center;
    top: 30px;
}

.div-3 {
    position: absolute;
    margin-left: 470px;
    margin-top: 480px;
}

.image-2 {
    position: relative;
    width: 200px;
    height: 59px;
}

.div-4 {
    position: absolute;
    margin-left: 700px;
    margin-top: 480px;
}

.image-3 {
    position: relative;
    width: 200px;
    height: 59px;
}

.div-5 {
    position: absolute;
    margin-top: 680px;
    margin-left: 400px;
    height: 100px;
}

.a-1 {
    position: relative;
    color: #262626;
    text-decoration: none;
    font-size: 14px;
}

.a-2 {
    position: relative;
    color: #262626;
    text-decoration: none;
    left: 10px;
    font-size: 14px;
}

.a-3 {
    position: relative;
    color: #262626;
    text-decoration: none;
    left: 20px;
    font-size: 14px;
}

.a-4 {
    position: relative;
    color: #262626;
    text-decoration: none;
    left: 30px;
    font-size: 14px;
}

.a-5 {
    position: relative;
    color: #262626;
    text-decoration: none;
    left: 40px;
    font-size: 14px;
}

.a-6 {
    position: relative;
    color: #262626;
    text-decoration: none;
    left: 50px;
    font-size: 14px;
}

.a-1:hover {
    color: rgb(184, 184, 184);
}

.a-2:hover {
    color: rgb(184, 184, 184);
}

.a-3:hover {
    color: rgb(184, 184, 184);
}

.a-4:hover {
    color: rgb(184, 184, 184);
}

.a-5:hover {
    color: rgb(184, 184, 184);
}

.a-6:hover {
    color: rgb(184, 184, 184);
}